<section>
	<header>
		<h2 id="DocTypography">Typography</h2>
	</header>
	<p>Terminal CSS uses a single font size for almost all elements. However, there is a way to use browser default font sizes if you wish.</p>
	<dl class="custom-dl">
		<dt>Single font size</dt>
		<dd>Use <code>&lt;body class=&quot;terminal&quot;&gt;</code>. If you leave that option, it will fallback to browser defaults. See <a href="/sans-serif/">here</a>.</dd>
	</dl>
</section>

