<!doctype html>
<html lang="en">
<head>
    {{ template "head.html" . }}
    <style>
        :root {
            --global-font-size: 15px;
            --global-line-height: 1.4em;
            --font-stack: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
            --input-style: solid;
        }
    </style>
</head>
<body class="terminal">
    {{ template "banner.html" . }}
    {{ template "navigation.html" . }}
    <div class="container">
        {{ .Content }}
        <div class="components components-grid">
            {{ template "aside.html" . }}
            <main>
                {{ template "grid.html" . }}
                <hr />
                {{ template "nav.html" . }}
                <hr />
                {{ template "nav-list.html" . }}
                <hr />
                {{ template "lists.html" . }}
                <hr />
                {{ template "typography.html" . }}
                <hr />
                {{ template "tables.html" . }}
                <hr />
                {{ template "special-elements.html" . }}
                <hr />
                {{ template "forms.html" . }}
                <hr />
                {{ template "progress.html" . }}
                <hr />
                {{ template "buttons.html" . }}
                <hr />
                {{ template "card.html" . }}
                <hr />
                {{ template "timeline.html" . }}
                <hr />
                {{ template "alerts.html" . }}
                <hr />
                {{ template "media.html" . }}
                <hr />
                {{ template "figure.html" . }}
                <hr />
                {{ template "highlight-js.html" . }}
                <hr />
                {{ template "documentation.html" . }}
                <hr />
                {{ template "footer.html" . }}
                <hr />
                {{ template "version.html" . }}
            </main>
        </div>
    </div>
    {{ template "bottom-scripts.html" . }}
</body>
</html>