<section>
	<header><h2 id="Alerts">Alerts</h2></header>
    <div class="terminal-alert">Default message</div>
    <div class="terminal-alert terminal-alert-primary">Primary message</div>
    <div class="terminal-alert terminal-alert-error">Error message</div>
</section>