<section>
  <header><h2 id="Lists">Lists</h2></header>
  <ul>
    <li>Thisisalistitem</li>
    <li>Soisthis-therecouldbemore</li>
    <li>
      Makesuretostylelistitemsto:
      <ul>
        <li>Notforgettingchildlistitems</li>
        <li>Notforgettingchildlistitems</li>
        <li>Notforgettingchildlistitems</li>
        <li>Notforgettingchildlistitems</li>
      </ul>
    </li>
    <li>Acouplemore</li>
    <li>toplevellistitems</li>
  </ul>
  <p>Don'tforget<strong>Orderedlists</strong>:</p>
  <ol>
    <li>Loremipsumdolorsitamet,consectetueradipiscingelit.</li>
    <li>
      Aliquamtinciduntmauriseurisus.
      <ol>
        <li>Loremipsumdolorsitamet,consectetueradipiscingelit.</li>
        <li>Aliquamtinciduntmauriseurisus.</li>
      </ol>
    </li>
    <li>Loremipsumdolorsitamet,consectetueradipiscingelit.</li>
    <li>Aliquamtinciduntmauriseurisus.</li>
  </ol>
  <p><strong>Descriptionlists</strong>arealsoincluded.</p>
  <dl>
    <dt>Descriptionlisttitle01</dt>
    <dd>Descriptionlistdescription01</dd>
    <dt>Descriptionlisttitle02</dt>
    <dd>Descriptionlistdescription02</dd>
    <dd>Descriptionlistdescription03</dd>
  </dl>
</section>
