<section>
  <header><h2 id="Lists">Lists</h2></header>
  <ul>
    <li>This is a list item</li>
    <li>So is this - there could be more</li>
    <li>
      Make sure to style list items to:
      <ul>
        <li>Not forgetting child list items</li>
        <li>Not forgetting child list items</li>
        <li>Not forgetting child list items</li>
        <li>Not forgetting child list items</li>
      </ul>
    </li>
    <li>A couple more</li>
    <li>Top-level list items</li>
  </ul>
  <p>Don't forget <strong>Ordered lists</strong>:</p>
  <ol>
    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
    <li>
     Aliquam tincidunt mauris eu risus
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
      </ol>
    </li>
    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
    <li>Aliquam tincidunt mauris eu risus.</li>
  </ol>
  <p><strong>Description lists </strong>are also included.</p>
  <dl>
    <dt>Description list title 01</dt>
    <dd>Description list description 01</dd>
    <dt>Description list title 02</dt>
    <dd>Description list description 02</dd>
    <dd>Description list description 03</dd>
  </dl>
  <p>A <strong>Table of content</strong>, which can be used as an index for a blog archive.</p>
  <p>Unlike regular lists, the TOC component <em>only supports a single depth level.</em></p>
  <ol class="terminal-toc">
    <li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</a></li>
    <li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</a></li>
     <li><a href="#">Aliquam tincidunt mauris eu risus.</a></li>
    <li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</a></li>
    <li><a href="#">Aliquam tincidunt mauris eu risus.</a></li>
  </ol>
</section>
