<section>
  <header><h2 id="Navigation">Navigation</h2></header>
  <div class="terminal-nav">
    <div class="terminal-logo">
      <div class="logo terminal-prompt"><a href="#" class="no-style">Logo</a></div>
    </div>
    <nav class="terminal-menu">
      <ul>
        <li><a class="menu-item" href="#">Item #1</a></li>
        <li><a class="menu-item active" href="#">Active Item #2</a></li>
        <li><a class="menu-item" href="#">Item #3</a></li>
      </ul>
    </nav>
</section>
