<section>
  <header><h2 id="SpecialElements">Special Elements</h2></header>
  <p>Terminal CSS also supports a range of special elements.</p>

  <h3 id="Blockquote">Blockquote</h3>
  <blockquote>
    <p>
      <em>This is a properly formatted blockquote, btw.</em> Measuring
      programming progress by lines of code is like measuring aircraft building
      progress by weight.
    </p>
    <footer>
      <cite><a href="http://www.thegatesnotes.com">Bill Gates</a></cite>
    </footer>
  </blockquote>
  <h3 id="Misc">Misc</h3>
  <h5 class="terminal-prompt">Terminal Prompt</h5>
  <p>
    I am <a href="?abc123">the a tag</a> example<br />
    I am <abbr title="test">the abbr tag</abbr> example<br />
    I am <b>the b tag</b> example<br />
    I am <cite>the cite tag</cite> example<br />
    I am <code>the code tag</code> example<br />
    I am <del>the del tag</del> example<br />
    I am <dfn>the dfn tag</dfn> example<br />
    I am <em>the em tag</em> example<br />
    I am <i>the i tag</i> example<br />
    I am <ins>the ins tag</ins> example<br />
    I am <kbd>the kbd tag</kbd> example<br />
    I am <q>the q tag</q> example<br />
    I am <samp>the samp tag</samp> example<br />
    I am <small>the small tag</small> example<br />
    I am <span>the span tag</span> example<br />
    I am <strong>the strong tag</strong> example<br />
    I am <sub>the sub tag</sub> example<br />
    I am <sup>the sup tag</sup> example<br />
    I am <var>the var tag</var> example<br />
  </p>

  <h4 id="Address">Address</h4>
  <address>
    Mozilla Foundation<br />
    1981 Landings Drive<br />
    Building K<br />
    Mountain View, CA 94043-0801<br />
    USA
  </address>
  <br />
</section>
