<section>
  <header><h2 id="Timeline">Timeline</h2></header>
  <div class="terminal-timeline">
    <div class="terminal-card">
      <header>Card Title</header>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, quas
        ex vero enim in doloribus officiis ullam vel nam esse sapiente velit
        incidunt. Eaque quod et, aut maiores excepturi sint.
      </div>
    </div>
    <div class="terminal-card">
      <header>Card Title</header>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, quas
        ex vero enim in doloribus officiis ullam vel nam esse sapiente velit
        incidunt. Eaque quod et, aut maiores excepturi sint.
      </div>
    </div>
  </div>
  <br />
</section>
