<hr />
<section>
	<header><h2>Documentation</h2></header>
	<p>Most of the documentation is still in an early stage. For in detail informations please have a look at the source of this website.</p>
	<%- include('documentation/variables') %>
</section>