<hr />
<section>
	<header><h2>Documentation</h2></header>
	<p>Most of the documentation is still at an early stage. For more details, please have a look at the source of this website.</p>
	<%- include('documentation/variables') %>
	<hr>
	<%- include('documentation/typography') %>
</section>