<footer>
  <p>
    This project is inspired by
    <a href="https://egoist.sh/" target="_blank" rel="noopener noreferer"
      >@egoist's</a
    >
    work -
    <a href="https://hackcss.egoist.moe/" rel="noopener noreferer">hack.css</a>
  </p>
</footer>
