<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="manifest" href="/manifest.json" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png" />
<meta name="theme-color" content="#ffffff" /> <title><%- site.title %></title>
<meta
  name="description"
  content="<%- site.description %>"
/>
<link rel="stylesheet" href="/terminal.min.css" />
<link
  rel="apple-touch-icon"
  sizes="57x57"
  href="/favicon/apple-icon-57x57.png"
/>
<link
  rel="apple-touch-icon"
  sizes="60x60"
  href="/favicon/apple-icon-60x60.png"
/>
<link
  rel="apple-touch-icon"
  sizes="72x72"
  href="/favicon/apple-icon-72x72.png"
/>
<link
  rel="apple-touch-icon"
  sizes="76x76"
  href="/favicon/apple-icon-76x76.png"
/>
<link
  rel="apple-touch-icon"
  sizes="114x114"
  href="/favicon/apple-icon-114x114.png"
/>
<link
  rel="apple-touch-icon"
  sizes="120x120"
  href="/favicon/apple-icon-120x120.png"
/>
<link
  rel="apple-touch-icon"
  sizes="144x144"
  href="/favicon/apple-icon-144x144.png"
/>
<link
  rel="apple-touch-icon"
  sizes="152x152"
  href="/favicon/apple-icon-152x152.png"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/favicon/apple-icon-180x180.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="192x192"
  href="/favicon/android-icon-192x192.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/favicon/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="96x96"
  href="/favicon/favicon-96x96.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/favicon/favicon-16x16.png"
/>
<style>
    @font-face{
        font-family: 'Fira Code';
        src: url('/fonts/eot/FiraCode-Light.eot');
        src: url('/fonts/eot/FiraCode-Light.eot') format('embedded-opentype'),
            url('/fonts/woff2/FiraCode-Light.woff2') format('woff2'),
            url('/fonts/woff/FiraCode-Light.woff') format('woff'),
            url('/fonts/ttf/FiraCode-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
        font-display: fallback;
    }

    @font-face{
        font-family: 'Fira Code';
        src: url('/fonts/eot/FiraCode-Regular.eot');
        src: url('/fonts/eot/FiraCode-Regular.eot') format('embedded-opentype'),
            url('/fonts/woff2/FiraCode-Regular.woff2') format('woff2'),
            url('/fonts/woff/FiraCode-Regular.woff') format('woff'),
            url('/fonts/ttf/FiraCode-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
      font-display: fallback;
    }

    @font-face{
        font-family: 'Fira Code';
        src: url('/fonts/eot/FiraCode-Medium.eot');
        src: url('/fonts/eot/FiraCode-Medium.eot') format('embedded-opentype'),
            url('/fonts/woff2/FiraCode-Medium.woff2') format('woff2'),
            url('/fonts/woff/FiraCode-Medium.woff') format('woff'),
            url('/fonts/ttf/FiraCode-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
      font-display: fallback;
    }

    @font-face{
        font-family: 'Fira Code';
        src: url('/fonts/eot/FiraCode-Bold.eot');
        src: url('/fonts/eot/FiraCode-Bold.eot') format('embedded-opentype'),
            url('/fonts/woff2/FiraCode-Bold.woff2') format('woff2'),
            url('/fonts/woff/FiraCode-Bold.woff') format('woff'),
            url('/fonts/ttf/FiraCode-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
      font-display: fallback;
    }

    .components-grid {
      display: grid;
      grid-column-gap: 1.4em;
      grid-template-columns: auto;
      grid-template-rows: auto;
    }

    .image-grid {
      display: grid;
      grid-template-rows: auto;
      display: grid;
      grid-gap: 1em;
      grid-template-rows: auto;
      grid-template-columns: repeat(
        auto-fit,
        minmax(calc(var(--page-width) / 12), 1fr)
      );
    }

    @media only screen and (min-width: 70em) {
      .components-grid {
        grid-template-columns: 3fr 9fr;
      }
    }
  </style>
