<div class="container">
  <div class="terminal-nav">
    <header class="terminal-logo">
      <div class="logo terminal-prompt"><a href="https://terminalcss.xyz" class="no-style">Terminal CSS</a></div>
    </header>
    <nav class="terminal-menu">
      <ul vocab="https://schema.org/" typeof="BreadcrumbList">
        <li><a href="https://terminalcss.xyz" class="menu-item<% if(page === "main") { %> active<% } %>"><span>Light</span></a><meta property="position"></li>
        <li property="itemListElement" typeof="ListItem"><a href="https://terminalcss.xyz/dark/" property="item" typeof="WebPage" class="menu-item<% if(page === "dark") { %> active<% } %>"><span property="name">Dark</span></a><meta property="position" content="1"></li>
        <li property="itemListElement" typeof="ListItem"><a href="https://terminalcss.xyz/sans-serif/" property="item" typeof="WebPage" class="menu-item<% if(page === "sans") { %> active<% } %>"><span property="name">Sans</span></a><meta property="position" content="2"></li>
        <li property="itemListElement" typeof="ListItem"><a href="https://terminalcss.xyz/sans-serif-dark/" property="item" typeof="WebPage" class="menu-item<% if(page === "sans-dark") { %> active<% } %>"><span property="name">Sans Dark</span></a><meta property="position" content="3"></li>
        <li style="height: 28px;"><a class="github-button" href="https://github.com/Gioni06/terminal.css" data-size="large" data-show-count="true" aria-label="Star Gioni06/terminal.css on GitHub">Star</a></li>
        <li style="height: 28px;"><a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=A%20modern%20and%20minimal%20CSS%20framework%20for%20terminal%20lovers."
  data-size="large">
Tweet</a></li>
      </ul>
    </nav>
  </div>
</div>
