<div class="container">
  <div class="terminal-nav">
    <header class="terminal-logo">
      <div class="logo terminal-prompt"><a href="/" class="no-style">Terminal CSS</a></div>
    </header>
    <nav class="terminal-menu">
      <ul>
        <li><a class="menu-item <% if(page === "main") { %> active <% } %>" href="/">Light</a></li>
        <li><a class="menu-item <% if(page === "dark") { %> active <% } %>" href="/dark/">Dark</a></li>
        <li><a class="menu-item <% if(page === "sans") { %> active <% } %>" href="/sans-serif/">Sans</a></li>
        <li><a class="menu-item <% if(page === "sans-dark") { %> active <% } %>" href="/sans-serif-dark/">Sans Dark</a></li>
        <li style="
    height: 28px;
">
          <!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/Gioni06/terminal.css" data-size="large" data-show-count="true" aria-label="Star Gioni06/terminal.css on GitHub">Star</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
