:root {
	--global-font-size: 14px;
    --global-line-height: 1.4em;
    --global-space: 10px;
    --font-stack: 'Fira Code',Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    --background-color: #14171a;
    --page-width: 70em;
    --font-color: #d9e0e2;
    --invert-font-color: #131719;
    --secondary-color: #657786;
    --tertiary-color: #14171a;
    --primary-color: #1da1f2;
    --error-color: rgb(224, 36, 94);
    --progress-bar-background: #e1e8ed;
    --progress-bar-fill: #aab8c2;
}